RhythmGameUtilities/bin
RhythmGameUtilities/obj
RhythmGameUtilities.Tests/bin
RhythmGameUtilities.Tests/obj

Documentation.Tests/bin
Documentation.Tests/obj
Documentation.Tests/*.cs

RhythmGameUtilities.sln.DotSettings.user

build/

node_modules/

.cache/
.idea/
